# For usage when Mac is connected as client to a Synergy server running on Linux

'.platform-darwin':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'

'.platform-darwin, .platform-darwin .command-palette atom-text-editor':
  'shift-ctrl-P': 'command-palette:toggle'

'.platform-darwin, body':
  'ctrl-w': 'core:close'
  'ctrl-s': 'core:save'
  'ctrl-w': 'core:close'
  'ctrl-x': 'core:cut'
  'ctrl-c': 'core:copy'
  'ctrl-v': 'core:paste'
  'ctrl-n': 'application:new-file'
  'ctrl-z': 'core:undo'
  'ctrl-y': 'core:redo'

'.platform-darwin, atom-text-editor':
  'ctrl-a': 'core:select-all'
  'ctrl-r': 'symbols-view:toggle-file-symbols'
